.st0 {
    fill:#111111;
}

.st1{
    fill:none;
    stroke:#FFFFFF;
    stroke-width:0.5;
    stroke-miterlimit:10;

    transform-origin: center;
    transform: rotate3d(1, 1, 0, 45deg) translate3d(0, 0, 0);
}

.st2{
    fill:none;
    stroke:#FF9B00;
    stroke-width:0.5;
    stroke-miterlimit:10;

    transform-origin: center;
    transform: rotate3d(1, 1, 0, 45deg) translate3d(0, 0, 20px);
}

.st3{
    fill:none;
    stroke:#0096E4;
    stroke-width:0.5;
    stroke-miterlimit:10;

    transform-origin: center;
    transform: rotate3d(1, 1, 0, 45deg)  translate3d(0, 0, 40px);

    animation: rotate-anim 2s linear forwards infinite;
}

@keyframes rotate-anim {
    50% {
        transform: rotate3d(1, 1, 0, 180deg)  translate3d(0, 0, 40px);
    }
}
