.st0 {
    fill:#111111;
}

.st1{
    fill:none;
    stroke:#FFFFFF;
    stroke-width:0.5;
    stroke-miterlimit:10;
}

.st2{
    fill:none;
    stroke:#FF9B00;
    stroke-width:0.5;
    stroke-miterlimit:10;
}

.st3{
    fill:none;
    stroke:#0096E4;
    stroke-width:0.5;
    stroke-miterlimit:10;
}
